#FIN_5s-background {
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    z-index: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.7)), url("/src/assets/Others/Background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100% 100%;
    opacity: 0;
}

#FIN_pack-interface {
    visibility: hidden;
}

#FIN_pack-shelf {
    position: absolute;
    top: 0%;
    height: 100%;
    right: 15.25%;
    width: 2.75%;
    background-image: linear-gradient(to bottom, #b4b4b4, #c0c0c1, #cbcdcd, #d8dad9, #e5e6e4);
    z-index: 1;
}

.FIN_pack {
    position: absolute;
    width: 19%;
    right: 9.5%;
    height: 19%;
    z-index: 1;
    opacity: 1;
}

#FIN_pack-20 {
    top: 25%;
}

#FIN_pack-30 {
    top: 52.5%;
}

.FIN_pack-point {
    position: absolute;
    right: 0%;
    top: 0%;
    bottom: 0%;
    width: 74%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(125vw/24);
    background-image: linear-gradient(to right bottom, #810101, #7a0101, #730102, #6c0101, #650101);
    font-weight: bold;
    color: white;
}

.FIN_check-box {
    position: absolute;
    top: 0%;
    left: 5%;
    bottom: 0%;
    width: 16%;
}

.FIN_1 {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    height: calc(64*100%/225);
    background-color: #2d2b2b;
    border: 0.15625vw solid #474243;
    box-sizing: border-box;
    opacity: 1;
}

.FIN_2 {
    position: absolute;
    left: 0%;
    right: 0%;
    top: calc(64*100%/225 + 11*100%/150);
    height: calc(64*100%/225);
    background-color: #2d2b2b;
    border: 0.15625vw solid #474243;
    box-sizing: border-box;
    opacity: 1;
}

.FIN_3 {
    position: absolute;
    left: 0%;
    right: 0%;
    top: calc(2*(64*100%/225 + 11*100%/150));
    height: calc(64*100%/225);
    background-color: #2d2b2b;
    border: 0.15625vw solid #474243;
    box-sizing: border-box;
    opacity: 1;
}

.FIN_checked {
    position: absolute;
    top: 0%;
    right: 0%;
    left: 0%;
    bottom: 0%;
}

#FIN_image {
    position: absolute;
    left: 10%;
    width: 50%;
    top: 10%;
    height: 50%;
    justify-content: center;
    align-items: center;
}

#FIN_image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border: 0.15625vw solid white;
}

#FIN_video {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    z-index: 20;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

#FIN_shelf {
    position: absolute;
    left: 0%;
    width: 100%;
    bottom: 13.75%;
    height: 5%;
    background-image: linear-gradient(to right bottom, #b4b4b4, #c0c0c1, #cbcdcd, #d8dad9, #e5e6e4);
    opacity: 0;
}

#FIN_main-interface {
    position: absolute;
    left: 7.5%;
    right: 7.5%;
    bottom: 5%;
    height: 30%;
}

#FIN_question-zone {
    position: absolute;
    left: 0%;
    width: 80%;
    height: 75%;
    bottom: 0%;
    box-sizing: border-box;
    background-image: linear-gradient(to right bottom, #3e4042, #353638, #2c2d2e, #242424, #1b1b1b);
    border: 0.15625vw solid white;
    opacity: 0;
}

#FIN_question {
    position: absolute;
    top: 0%;
    right: 0%;
    left: 0%;
    bottom: 0%;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    text-align: justify;
    font-size: calc(45vw/32);
    color: white;
    line-height: 1.25;
    box-sizing: border-box;
}

.FIN_star {
    position: absolute;
    bottom: 20%;
    height: 150%;
    left: -16%;
    width: 30%;
    display: flex;
    justify-content: left;
    align-items: end;
}

#FIN_points {
    position: absolute;
    left: 0%;
    right: 20%;
    top: 0%;
    height: 25%;
    box-sizing: border-box;
    opacity: 1;
}

.FIN_point {
    position: absolute;
    top: 25%;
    width: 24%;
    bottom: 0%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: calc(125vw/96);
    background-color: #313131;
    border: 0.15625vw solid white;
    border-bottom: none;
    color: white;
    opacity: 0;
}

#FIN_point-1 {
    left: 1%;
}

#FIN_point-2 {
    left: calc(77%/3);
}

#FIN_point-3 {
    left: calc(151%/3);
}

#FIN_point-4 {
    left: 75%;
}

#FIN_question-status {
    position: absolute;
    right: 0%;
    top: 10%;
    bottom: 70%;
    width: 15%;
    box-sizing: border-box;
    background-image: linear-gradient(to right bottom, #810101, #7a0101, #730102, #6c0101, #650101);
    opacity: 0;
    border: 0.15625vw solid white;
}

#FIN_current-point {
    position: absolute;
    top: 30%;
    bottom: 5%;
    right: 0%;
    width: 15%;
    background-image: linear-gradient(to right bottom, #810101, #7a0101, #730102, #6c0101, #650101);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bolder;
    font-size: calc(125vw/24);
    opacity: 0;
    border: 0.15625vw solid white;
    border-top: none;
}

.FIN_question-list {
    position: absolute;
    top: 0%;
    bottom: 0%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(175vw/96);
    font-weight: bolder;
    color: white;
}

#FIN_1 {
    left: 0%;
    right: calc(200%/3);
    border-right: calc(5vw/32) solid white;
}

#FIN_2 {
    left: calc(100%/3);
    right: calc(100%/3);
    border-right: calc(5vw/32) solid white;
}

#FIN_3 {
    left: calc(200%/3);
    right: 0%;
}

.FIN_granted {
    background-color: #e66f1e;
}

.FIN_chosen-question {
    background-image: linear-gradient(to right bottom, #e66f1e, #e86d1a, #eb6b15, #ed6810, #f06609);
}

/*VĐ animation*/
.FIN_move-shelf {
    animation-name: FIN_move-shelf;
    animation-timing-function: linear;
    animation-duration: 0.5s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}

@keyframes FIN_move-shelf {
    0% {
        right: -2.75%;
        opacity: 1;
    }

    100% {
        right: 15.25%;
        opacity: 1;
    }
}

@keyframes FIN_hide-shelf {
    0% {
        right: -2.75%;
        opacity: 1;
    }

    100% {
        right: 15.25%;
        opacity: 1;
    }
}

.FIN_move-pack-20 {
    opacity: 0;
    animation-name: FIN_move-pack-20;
    animation-duration: 0.5s;
    animation-delay: 0.65s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.FIN_move-pack-30 {
    opacity: 0;
    animation-name: FIN_move-pack-30;
    animation-duration: 0.5s;
    animation-delay: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.FIN_show-pick-201 {
    opacity: 0;
    animation-name: FIN_show-pick-1;
    animation-duration: 0.5s;
    animation-delay: 1.15s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.FIN_show-pick-202 {
    opacity: 0;
    animation-name: FIN_show-pick-2;
    animation-duration: 0.5s;
    animation-delay: 1.15s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.FIN_show-pick-203 {
    opacity: 0;
    animation-name: FIN_show-pick-3;
    animation-duration: 0.5s;
    animation-delay: 1.15s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.FIN_show-pick-301 {
    opacity: 0;
    animation-name: FIN_show-pick-1;
    animation-duration: 0.5s;
    animation-delay: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.FIN_show-pick-302 {
    opacity: 0;
    animation-name: FIN_show-pick-2;
    animation-duration: 0.5s;
    animation-delay: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.FIN_show-pick-303 {
    opacity: 0;
    animation-name: FIN_show-pick-3;
    animation-duration: 0.5s;
    animation-delay: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.FIN_picked-question {
    background-image: linear-gradient(to right bottom, #810101, #7a0101, #730102, #6c0101, #650101);
}

@keyframes FIN_move-pack-20 {
    0% {
        top: calc(25% - 100%);
        opacity: 1;
    }

    100% {
        top: 25%;
        opacity: 1;
    }
}

@keyframes FIN_move-pack-30 {
    0% {
        top: calc(52.5% - 100%);
        opacity: 1;
    }

    100% {
        top: 52.5%;
        opacity: 1;
    }
}

@keyframes FIN_show-pick-1 {
    0% {
        top: 0%;
        right: 0%;
        left: 100%;
        height: 0%;
        opacity: 1;
    }

    100% {
        top: 0%;
        right: 0%;
        left: 0%;
        height: calc(64*100%/225);
        opacity: 1;
    }
}

@keyframes FIN_hide-pick-1 {
    0% {
        top: 0%;
        right: 0%;
        left: 100%;
        height: 0%;
        opacity: 1;
    }

    100% {
        top: 0%;
        right: 0%;
        left: 0%;
        height: calc(64*100%/225);
        opacity: 1;
    }
}

@keyframes FIN_show-pick-2 {
    0% {
        top: calc(64*100%/225 + 11*100%/150);
        right: 0%;
        left: 100%;
        height: 0%;
        opacity: 1;
    }

    100% {
        top: calc(64*100%/225 + 11*100%/150);
        right: 0%;
        left: 0%;
        height: calc(64*100%/225);
        opacity: 1;
    }
}

@keyframes FIN_hide-pick-2 {
    0% {
        top: calc(64*100%/225 + 11*100%/150);
        right: 0%;
        left: 100%;
        height: 0%;
        opacity: 1;
    }

    100% {
        top: calc(64*100%/225 + 11*100%/150);
        right: 0%;
        left: 0%;
        height: calc(64*100%/225);
        opacity: 1;
    }
}

@keyframes FIN_show-pick-3 {
    0% {
        top: calc(2*(64*100%/225 + 11*100%/150));
        right: 0%;
        left: 100%;
        height: 0%;
        opacity: 1;
    }

    100% {
        top: calc(2*(64*100%/225 + 11*100%/150));
        right: 0%;
        left: 0%;
        height: calc(64*100%/225);
        opacity: 1;
    }
}

@keyframes FIN_hide-pick-3 {
    0% {
        top: calc(2*(64*100%/225 + 11*100%/150));
        right: 0%;
        left: 100%;
        height: 0%;
        opacity: 1;
    }

    100% {
        top: calc(2*(64*100%/225 + 11*100%/150));
        right: 0%;
        left: 0%;
        height: calc(64*100%/225);
        opacity: 1;
    }
}

.FIN_hide-pick-201 {
    opacity: 1;
    animation-name: FIN_hide-pick-1;
    animation-duration: 0.5s;
    animation-delay: 1.15s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-direction: reverse;
}

.FIN_hide-pick-202 {
    opacity: 1;
    animation-name: FIN_hide-pick-2;
    animation-duration: 0.5s;
    animation-delay: 1.15s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-direction: reverse;
}

.FIN_hide-pick-203 {
    opacity: 1;
    animation-name: FIN_hide-pick-3;
    animation-duration: 0.5s;
    animation-delay: 1.15s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-direction: reverse;
}

.FIN_hide-pick-301 {
    opacity: 1;
    animation-name: FIN_hide-pick-1;
    animation-duration: 0.5s;
    animation-delay: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-direction: reverse;
}

.FIN_hide-pick-302 {
    opacity: 1;
    animation-name: FIN_hide-pick-2;
    animation-duration: 0.5s;
    animation-delay: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-direction: reverse;
}

.FIN_hide-pick-303 {
    opacity: 1;
    animation-name: FIN_hide-pick-3;
    animation-duration: 0.5s;
    animation-delay: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-direction: reverse;
}

.FIN_hide-pack-20 {
    opacity: 1;
    animation-name: FIN_hide-pack-20;
    animation-duration: 0.5s;
    animation-delay: 1.65s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.FIN_hide-pack-30 {
    opacity: 1;
    animation-name: FIN_hide-pack-30;
    animation-duration: 0.5s;
    animation-delay: 1.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes FIN_hide-pack-20 {
    0% {
        top: 36%;
        opacity: 1;
    }

    100% {
        top: 136%;
        opacity: 1;
    }
}

@keyframes FIN_hide-pack-30 {
    0% {
        top: 63.5%;
        opacity: 1;
    }

    100% {
        top: 163.5%;
        opacity: 1;
    }
}

.FIN_hide-shelf {
    animation-name: FIN_hide-shelf;
    animation-timing-function: linear;
    animation-duration: 0.5s;
    animation-delay: 2.2s;
    animation-fill-mode: forwards;
    animation-direction: reverse;
}

.FIN_move-question-shelf {
    animation-name: FIN_move-question-shelf;
    animation-timing-function: linear;
    animation-duration: 0.5s;
    animation-delay: 2.8s;
    animation-fill-mode: forwards;
}

@keyframes FIN_move-question-shelf {
    0% {
        bottom: -5%;
        opacity: 1;
    }

    100% {
        bottom: 13.75%;
        opacity: 1;
    }
}

@keyframes FIN_question-zone-move {
    0% {
        opacity: 1;
        left: -80%;
    }

    100% {
        opacity: 1;
        left: 0%;
    }
}

@keyframes FIN_show-point-bar {
    0% {
        opacity: 1;
        top: 100%;
    }


    100% {
        opacity: 1;
        top: 25%;
    }
}

@keyframes FIN_move-point-and-status {
    0% {
        opacity: 1;
        right: -30%
    }

    100% {
        opacity: 1;
        right: 0%;
    }
}

.FIN_question-zone-move {
    animation-name: FIN_question-zone-move;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-delay: 3.3s;
}

.FIN_move-point-and-status {
    animation-name: FIN_move-point-and-status;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-delay: 3.3s;
}

.FIN_show-point-bar-1 {
    animation-name: FIN_show-point-bar;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-delay: 3.8s;
}

.FIN_show-point-bar-2 {
    animation-name: FIN_show-point-bar;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-delay: 3.9s;
}

.FIN_show-point-bar-3 {
    animation-name: FIN_show-point-bar;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-delay: 4s;
}

.FIN_show-point-bar-4 {
    animation-name: FIN_show-point-bar;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-delay: 4.1s;
}

@keyframes FIN_change-background {
    0% {
        opacity: 0;
        visibility: visible;
    }

    25% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.FIN_change-background {
    animation-name: FIN_change-background;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-duration: 7s;
}

@keyframes FIN_different-point {
    0% {
        opacity: 1;
        background-color: #313131;
    }

    100% {
        top: 0%;
        background-color: #A80000;
        opacity: 1;
        font-size: 1.5625vw;
    }
}

.FIN_different-point {
    animation-name: FIN_different-point;
    animation-timing-function: linear;
    animation-delay: 0.5s;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    color: white;
    opacity: 1;
}