html {
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./Others/Background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100% 100%;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

select option {
    color: black;
}

#header {
    padding: calc(15vw/32);
}

#header label {
    font-size: 1vw;
}

#header #db {
    font-family: 'Montserrat', sans-serif;
    background: none;
    border: calc(5vw/96) solid white;
    outline: none;
    color: white;
    cursor: pointer;
    width: 8%;
    font-size: 0.9vw;
}

#content {
    margin-left: 0.5%;
    margin-right: 0.5%;
    flex-grow: 1;
    overflow: auto;
    padding-top: calc(25vw/48);
    padding-left: calc(25vw/32);
    padding-right: calc(calc(25vw/32) + 0.4vw);
    border: calc(5vw/32) solid rgb(255, 255, 255, 0.5);
    background: rgb(0, 0, 0, 0.5);
}

#footer {
    padding: calc(25vw/24);
}

form {
    position: absolute;
    right: 0.5%;
    width: 30%;
    height: 2vw;
}

input[type="file"] {
    position: absolute;
    padding-top: 0.8%;
    height: 100%;
    width: 80%;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 1vw;
}

input[type='submit'] {
    position: absolute;
    right: 0;
    height: 2vw;
    font-weight: bold;
    font-family: 'Montserrat', bold;
    font-size: 0.8vw;
    border: calc(5vw/48) solid #FF6961;
    color: white;
    cursor: pointer;
    transition: border-color 0.5s ease;
    background-color: rgb(0, 0, 0, 0.5);
}

input[type='submit']:hover {
    border-color: white;
}

::placeholder {
    color: white;
    opacity: 0.4;
}

/* width */
::-webkit-scrollbar {
    width: 0.4vw;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: #A80000;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: white;
}

#currentVersion {
    position: absolute;
    right: 0%;
    bottom: 0%;
    opacity: 0.5;
    color: white;
    font-size: 0.85vw;
}

button {
    height: 2vw;
    font-family: 'Montserrat', bold;
    font-size: 0.8vw;
    border: calc(5vw/48) solid #A80000;
    color: white;
    cursor: pointer;
    transition: border-color 0.5s ease;
    background-color: rgb(0, 0, 0, 0.5);
    margin-bottom: 1%;
    z-index: 20;
}

button:hover {
    border-color: white;
}

#main {
    position: relative;
}

.round {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.Title {
    display: block;
    font-size: 1vw;
    margin: 1% 0;
}

.STR_row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 0.2vw;
    margin-bottom: 0.5%;
    display: flex;
    align-items: center;
}

textarea {
    resize: none;
    font-size: 0.8vw;
    font-family: 'Montserrat', sans-serif;
    border: calc(5vw/96) solid #A80000;
    color: white;
    outline: none;
    box-sizing: border-box;
    height: auto;
    background: none;
    text-align: justify;
}

textarea:last-line {
    text-align: left;
}

.STR_subject {
    width: 10%;
}

.STR_question {
    width: 45%;
}

.STR_answer {
    width: 15%;
}

.STR_media {
    width: 15%;
}

.STR_note {
    width: 15%;
}

#OBS_imageUrl {
    position: absolute;
    height: 2vw;
    width: 22vw;
    box-sizing: border-box;
    outline: none;
    border: calc(5vw/96) solid #FF6961;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.85vw;
    color: white;
    background: none;
}

.OBS_image button {
    position: absolute;
    left: 22.5vw;
    width: 7.5vw;
    height: 2vw;
}

#sliderValue {
    font-size: 0.9vw;
    height: 1vw;
}

.OBS_image #simulator {
    width: 15vw;
    font-size: 0.8vw;
    height: 1vw;
}

#OBS_hiders {
    height: 30vw;
    width: 30vw;
    border: calc(5vw/48) solid;
}

#OBS_hiders .OBS_hider {
    position: absolute;
    height: inherit;
    z-index: 1;
    opacity: 0;
}

#OBS_imageSetting {
    width: 30vw;
    margin-top: 1%;
    height: 2vw;
}

#OBS_image {
    position: absolute;
    height: inherit;
    z-index: 0;
}

.OBS_rows input {
    width: 50%;
    height: 2vw;
    outline: none;
    border: calc(5vw/96) solid #FF6961;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9vw;
    color: white;
    text-align: right;
    text-transform: uppercase;
    background: none;
}

.OBS_rows {
    top: 0%;
    position: absolute;
    width: 65%;
    right: 0%;
    text-align: right;
}

.OBS_row {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 0.2vw;
    margin-bottom: 1%;
}

.OBS_row span {
    display: flex;
    align-items: center;
    justify-content: right;
    height: 2vw;
    width: 10vw;
    font-size: 0.9vw;
}

.OBS_orders {
    position: absolute;
    height: 60%;
    width: 30%;
}

.OBS_orders h4 {
    position: absolute;
    left: 0;
    bottom: 10%;
}

.OBS_order {
    position: absolute;
    height: 10%;
    width: 100%;
}

.OBS_div1 {
    top: 20%;
}

.OBS_div2 {
    top: 32.5%;
}

.OBS_div3 {
    top: 45%;
}

.OBS_div4 {
    top: 57.5%;
}

.OBS_order span {
    position: absolute;
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    font-size: 1vw;
}

.OBS_order input {
    position: absolute;
    left: 5%;
    width: 20%;
    height: 75%;
    outline: none;
    border: calc(5vw/96) solid orange;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9vw;
    color: white;
    display: flex;
    align-items: center;
}

.OBS_order label {
    position: absolute;
    left: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 1vw;
}

.OBS_question {
    width: 36%;
}

#CQ_phone label {
    width: auto;
}

.CQ_STT,
.ACC_STT {
    font-size: 0.9vw;
    width: 2%;
}

.CQ_diff {
    width: 4%;
}

.CQ_question {
    width: 45%;
}

.CQ_answer {
    width: 20%;
}

.CQ_note {
    width: 15%;
}

.CQ_media {
    width: 15%;
}

.ACC_question {
    width: 25%;
}

.ACC_answer {
    width: 15%;
}

.ACC_mediatype {
    width: 7.5%;
}

.ACC_note {
    width: 15%;
}

.ACC_media {
    width: 20%;
}

.ACC_answerImage {
    width: 20%;
}

.FIN_STT {
    font-size: 0.9vw;
    width: 8%;
}

.FIN_question {
    width: 40%;
}

.FIN_answer {
    width: 20%;
}

.FIN_note {
    width: 15%;
}

.FIN_media {
    width: 15%;
}

.SFI_STT {
    width: 2%;
    font-size: 0.9vw;
}

.SFI_question {
    width: 50%;
}

.SFI_answer {
    width: 20%;
}

.SFI_note {
    width: 15%;
}

.SFI_media {
    width: 15%;
}