html {
    overflow: hidden;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("./Others/Background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100% 100%;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

#nameZone {
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    height: 22.5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#answerZone {
    position: absolute;
    top: 22.5%;
    left: 0%;
    right: 0%;
    height: 7.5%;
    border: 0.25vw solid orange;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

#pointZone {
    position: absolute;
    top: 30%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#name {
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 10vw;
    color: white;
}

#answer {
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 2vw;
    color: white;
}

#point {
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 45vw;
    color: white;
}

#promptBox {
    position: absolute;
    top: 30%;
    left: 30%;
    right: 30%;
    bottom: 30%;
    z-index: 1;
    background-color: grey;
    border: 0.2vw solid white;
}

.slot {
    font-family: 'Montserrat', sans-serif;
    font-size: 1vw;
    z-index: 2;
    cursor: pointer;
    position: absolute;
    height: 15%;
    left: 35%;
    right: 35%;
    background-color: white;
    border: 0.2vw solid black;
    transition: 0.25s;
}

.slot:hover {
    background-color: orange;
}

#slot1 {
    top: 12.5%;
}

#slot2 {
    top: 32.5%;
}

#slot3 {
    top: 52.5%;
}

#slot4 {
    top: 72.5%;
}
