html {
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./Others/Background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100% 100%;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

/* width */
::-webkit-scrollbar {
    width: 0.521vw
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: #A80000;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: white;
}

#currentVersion {
    position: absolute;
    right: 0%;
    bottom: 0%;
    opacity: 0.5;
    color: white;
    font-size: 0.85vw;
}

#intro {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 0;
    z-index: 20;
}

#start {
    position: absolute;
    top: 0%;
    right: 0%;
    left: 0%;
    z-index: 19;
}

#OBS_MainUI {
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    visibility: hidden;
}

.OBS_Row {
    position: absolute;
    width: 80%;
    height: 7%;
    left: 10%;
    display: flex;
}

#OBS_Row1 {
    top: 10%;
}

#OBS_Row2 {
    top: 24%;
}

#OBS_Row3 {
    top: 38%;
}

#OBS_Row4 {
    top: 52%;
}

.OBS_Order {
    position: absolute;
    right: 0%;
    height: 110%;
    font-size: 3.5vw;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: calc(693% / 128);
    border-radius: 15px;
    background-color: rgb(0, 0, 0, 0.5);
    font-weight: bold;
    color: white;
}

.OBS_Char {
    position: relative;
    width: calc(315% / 64);
    height: 100%;
    box-sizing: border-box;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 2.5vw;
    font-weight: bold;
    margin-left: 0.15%;
    margin-right: 0.15%;
    background-color: #808080;
    border: 0.15625vw solid white;
    visibility: hidden;
    color: white;
    opacity: 0;
}

.OBS_Chosen {
    animation-name: OBS_Chosen;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes OBS_Chosen {
    0% {
        background-color: #808080;
    }

    100% {
        background-color: #A80000;
    }
}

#OBS_Hider,
#OBS_Image {
    position: absolute;
    height: calc(640%/9);
    width: 40%;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    visibility: hidden;
}

#OBS_Hider img {
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

#OBS_Image {
    z-index: -1;
    border: calc(5vw/96) solid white;
}

#OBS_printSignal {
    position: absolute;
    left: 10%;
    top: 63%;
    width: 65%;
    height: 5%;
    z-index: 10;
}

.OBS_Signal {
    position: absolute;
    width: 20%;
    height: 100%;
    top: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25vw;
    background-image: linear-gradient(to right bottom, #810101, #7a0101, #730102, #6c0101, #650101);
    border: calc(5vw/96) solid white;
    color: white;
    font-weight: bold;
}

#OBS_Shelf {
    position: absolute;
    left: 0%;
    width: 100%;
    bottom: -5%;
    height: 5%;
    background-image: linear-gradient(to right bottom, #b4b4b4, #c0c0c1, #cbcdcd, #d8dad9, #e5e6e4);
}

#OBS_questionZone {
    position: absolute;
    left: -85%;
    width: 80%;
    height: 22%;
    bottom: 6.5%;
    background-image: linear-gradient(to right bottom, #3e4042, #353638, #2c2d2e, #242424, #1b1b1b);
    border: 0.15625vw solid white;

}

#OBS_Question {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: justify;
    font-size: 1.5625vw;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1.5%;
    padding-right: 1.5%;
    color: white;
    overflow-y: auto;
    box-sizing: border-box;
    font-weight: 100;
}

.Circle {
    position: absolute;
    top: calc(100% - calc(15vw/32));
    left: calc(-25vw/48);
    width: calc(25vw/24);
    height: calc(25vw/24);
    border-radius: 50%;
    background-color: #f1a621;
    z-index: 5;
    opacity: 0;
}

.Line {
    position: absolute;
    top: 100%;
    height: calc(5vw/32);
    left: calc(-5vw/32);
    width: 0;
    background-color: transparent;
    z-index: 4;
}

@keyframes moveCircle {
    from {
        left: calc(-25vw/48);
        opacity: 1;
    }

    to {
        left: calc(100% - calc(25vw/48));
        opacity: 1;
    }

}

@keyframes OBS_zoomCircle {

    0%,
    4.44%,
    18.88%,
    23.32%,
    47.78%,
    52.22%,
    72.78%,
    77.22%,
    95.56%,
    100% {
        transform: scale(1);
        transform-origin: center;
    }

    2.22%,
    21.1%,
    50%,
    75%,
    97.78% {
        transform: scale(2);
        transform-origin: center;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.OBS_circleMove {
    animation-name: OBS_zoomCircle, changeColor, moveCircle, fadeOut;
    animation-duration: 15s, 15s, 15s, 2s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-delay: 0s, 0s, 0s, 15s;
}

@keyframes moveLine {
    from {
        width: 0%;
        opacity: 1;

    }

    to {
        width: calc(100% + 0.3125vw);
        opacity: 1;
    }
}

@keyframes changeColor {
    0% {
        background-color: #44fe9b;
    }

    25% {
        background-color: #a4eb69;
    }

    50% {
        background-color: #f0de40;
    }

    75% {
        background-color: #f49b49;
    }

    100% {
        background-color: #e6425a;
    }
}

.OBS_lineMove {
    animation-name: changeColor, moveLine, fadeOut;
    animation-duration: 15s, 15s, 2s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-delay: 0s, 0s, 15s;
}

.OBS_moveShelf {
    animation-name: OBS_moveShelf;
    animation-timing-function: ease-in-out;
    animation-duration: 0.5s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}

@keyframes OBS_moveShelf {
    0% {
        bottom: -5%;
    }

    100% {
        bottom: 15%;
    }
}

.OBS_moveQuestionBox {
    animation-name: OBS_moveQuestionBox;
    animation-timing-function: ease-in-out;
    animation-duration: 0.5s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes OBS_moveQuestionBox {
    0% {
        left: -85%;
    }

    100% {
        left: 10%;
    }
}

@keyframes name {
    0% {
        width: 0%;
    }

    100% {
        width: 15%;
    }
}

@keyframes answer {
    0% {
        width: 0%;
    }

    100% {
        width: 30%;
    }
}

@keyframes main {
    0% {
        height: 0%;
    }

    100% {
        height: 100%;
    }
}

.main {
    position: absolute;
    left: 49.5%;
    right: 49.5%;
    z-index: 3;
    bottom: 0%;
    background-image: linear-gradient(to bottom, #b31e0e, #a61a0b, #9a1508, #8d1105, #810c01);
}

.answer {
    position: absolute;
    height: 8%;
    box-sizing: border-box;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: bold;
    font-size: calc(175vw/96);
}

.answer1 {
    top: 18.5%;
    left: 50%;
    border-top-right-radius: 0.6vw;
    border-bottom-right-radius: 0.6vw;
    background-image: linear-gradient(to right bottom, #b4b4b4, #c0c0c1, #cbcdcd, #d8dad9, #e5e6e4);
}

.answer2 {
    top: 38.5%;
    right: 50%;
    border-top-left-radius: 0.6vw;
    border-bottom-left-radius: 0.6vw;
    background-image: linear-gradient(to left bottom, #b4b4b4, #c0c0c1, #cbcdcd, #d8dad9, #e5e6e4);
}

.answer3 {
    top: 58.5%;
    left: 50%;
    border-top-right-radius: 0.6vw;
    border-bottom-right-radius: 0.6vw;
    background-image: linear-gradient(to right bottom, #b4b4b4, #c0c0c1, #cbcdcd, #d8dad9, #e5e6e4);
}

.answer4 {
    top: 78.5%;
    right: 50%;
    border-top-left-radius: 0.6vw;
    border-bottom-left-radius: 0.6vw;
    background-image: linear-gradient(to left bottom, #b4b4b4, #c0c0c1, #cbcdcd, #d8dad9, #e5e6e4);
}

.name {
    position: absolute;
    height: 5%;
    box-sizing: border-box;
    z-index: 1;
    display: flex;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: calc(125vw/96);
}

.name1 {
    top: 13.5%;
    left: 50%;
    justify-content: start;
    border-top-right-radius: 150px;
    border-bottom-right-radius: 150px;
    background-image: linear-gradient(to right, #b31e0e, #a61a0b, #9a1508, #8d1105, #810c01);
}

.name2 {
    top: 33.5%;
    right: 50%;
    justify-content: flex-end;
    border-top-left-radius: 150px;
    border-bottom-left-radius: 150px;
    background-image: linear-gradient(to left, #b31e0e, #a61a0b, #9a1508, #8d1105, #810c01);
}

.name3 {
    top: 53.5%;
    left: 50%;
    justify-content: flex-start;
    border-top-right-radius: 150px;
    border-bottom-right-radius: 150px;
    background-image: linear-gradient(to right, #b31e0e, #a61a0b, #9a1508, #8d1105, #810c01);
}

.name4 {
    top: 73.5%;
    right: 50%;
    justify-content: flex-end;
    border-top-left-radius: 150px;
    border-bottom-left-radius: 150px;
    background-image: linear-gradient(to left, #b31e0e, #a61a0b, #9a1508, #8d1105, #810c01);
}

.animate {
    animation-name: main;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

.animateName1 {
    animation-name: name;
    animation-duration: 0.75s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}

.animateAns1 {
    animation-name: answer;
    animation-duration: 0.75s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}

.animateName2 {
    animation-name: name;
    animation-duration: 0.75s;
    animation-delay: 0.6s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}

.animateAns2 {
    animation-name: answer;
    animation-duration: 0.75s;
    animation-delay: 0.6s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}

.animateName3 {
    animation-name: name;
    animation-duration: 0.75s;
    animation-delay: 0.7s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}

.animateAns3 {
    animation-name: answer;
    animation-duration: 0.75s;
    animation-delay: 0.7s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}

.animateName4 {
    animation-name: name;
    animation-duration: 0.75s;
    animation-delay: 0.8s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}

.animateAns4 {
    animation-name: answer;
    animation-duration: 0.75s;
    animation-delay: 0.8s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}

#name1,
#name3 {
    margin-left: 7%;
}

#name2,
#name4 {
    margin-right: 7%;
}

#Namebar {
    position: absolute;
    background-image: linear-gradient(to right bottom, #3e4042, #353638, #2c2d2e, #242424, #1b1b1b);
    width: 50%;
    top: 75%;
    height: 12%;
    left: 0%;
    opacity: 0;
    border: calc(5vw/96) solid white;
    border-left: none;
}

#resultName {
    position: absolute;
    left: 35%;
    right: 5%;
    top: 5%;
    bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: calc(25vw/12);
    color: white;
}

#Pointbar {
    position: absolute;
    background-image: linear-gradient(to right bottom, #b31e0e, #a61a0b, #9a1508, #8d1105, #810c01);
    width: 10%;
    top: 67%;
    height: 13%;
    left: 5%;
    opacity: 0;
    border: calc(5vw/48) solid white;
}

#resultPoint {
    position: absolute;
    left: 5%;
    right: 5%;
    top: 5%;
    bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: calc(125vw/32);
    color: white;
}

.namebarMove {
    animation-name: nameMove;
    animation-timing-function: linear;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.pointbarMove {
    animation-name: pointMove;
    animation-timing-function: linear;
    animation-delay: 0.5s;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes nameMove {
    0% {
        top: 100%;
        opacity: 1;
    }

    100% {
        top: 75%;
        opacity: 1;
    }
}

@keyframes pointMove {
    0% {
        left: -10%;
        opacity: 1;
    }

    100% {
        left: 5%;
        opacity: 1;
    }
}

#STR_MainUI {
    position: absolute;
    left: 5%;
    right: 5%;
    bottom: 5%;
    height: 30%;
}

#STR_questionBox {
    position: absolute;
    left: -85%;
    width: 75%;
    height: 75%;
    bottom: 0%;
    box-sizing: border-box;
    background-image: linear-gradient(to right bottom, #3e4042, #353638, #2c2d2e, #242424, #1b1b1b);
    border: 0.15625vw solid white;
    opacity: 1;
    border-radius: 0.5vw;
    opacity: 1;
}

#STR_Question {
    position: absolute;
    top: 0%;
    right: 0%;
    left: 0%;
    bottom: 0%;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    text-align: justify;
    font-size: calc(45vw/32);
    color: white;
    overflow-y: auto;
    padding-right: 1%;
    box-sizing: border-box;
}

#STR_pointBar {
    position: absolute;
    height: 75%;
    bottom: 0%;
    right: 0%;
    width: 20%;
    box-sizing: border-box;
    opacity: 1;
}

.STR_Player {
    position: absolute;
    height: 22%;
    width: 100%;
    right: -130%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    background-color: #313131;
    border-bottom: none;
    color: white;
    opacity: 1;
    border-radius: 0.5vw;
    border: calc(5vw/48) solid #F5F5F5;
    opacity: 1;
}

#STR_Player1 {
    top: 0%;
}

#STR_Player2 {
    top: 26%
}

#STR_Player3 {
    top: 52%;
}

#STR_Player4 {
    top: 78%;
}

.STR_Name {
    position: absolute;
    left: 0;
    font-size: calc(115vw/96);
    margin-left: 3%;
    font-weight: 650;
}

.STR_Point {
    position: absolute;
    right: 0;
    margin-right: 3%;
    font-size: calc(125vw/96);
    font-weight: bolder;
}

.STR_playerShelf {
    position: absolute;
    background-color: #F5F5F5;
    height: 35%;
    left: 100%;
    width: 50%;
}

#STR_Shelf {
    position: absolute;
    left: -50%;
    width: 50%;
    bottom: 13.75%;
    height: 5%;
    background-image: linear-gradient(to right bottom, #b4b4b4, #c0c0c1, #cbcdcd, #d8dad9, #e5e6e4);
    opacity: 1;
}

#STR_Status {
    position: absolute;
    top: 0%;
    left: -20%;
    width: 12%;
    height: 20%;
    opacity: 1;
    background-image: linear-gradient(to right bottom, #3e4042, #353638, #2c2d2e, #242424, #1b1b1b);
    font-size: 1.5vw;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.15vw solid white;
    border-radius: 0.5vw;
    box-sizing: border-box;
    z-index: 0;
    opacity: 1;
}

#STR_statusShelf {
    position: absolute;
    top: 6%;
    right: 110%;
    width: 10%;
    height: 7%;
    z-index: -1;
    background-image: linear-gradient(to right bottom, #b4b4b4, #c0c0c1, #cbcdcd, #d8dad9, #e5e6e4);
    opacity: 1;
}

#STR_Time {
    position: absolute;
    right: 1%;
    bottom: 0;
    color: white;
    font-weight: bolder;
    font-size: 3.125vw;
    opacity: 0.6;
}

@keyframes STR_moveBoard {
    100% {
        left: 0%;
    }
}

@keyframes STR_moveQuestionShelf {
    100% {
        left: 0%;
    }
}

@keyframes STR_movePlayer {
    100% {
        right: 0%;
    }
}

@keyframes STR_moveStatus {
    100% {
        left: 0%;
    }
}

@keyframes STR_moveStatusShelf {
    100% {
        right: 100%;
    }
}

.STR_moveBoard {
    animation-name: STR_moveBoard;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

.STR_moveQuestionShelf {
    animation-name: STR_moveQuestionShelf;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

.STR_movePlayer {
    animation-name: STR_movePlayer;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-delay: 0.8s;
}

.STR_moveStatus {
    animation-name: STR_moveStatus;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-delay: 1.8s;
}

.STR_moveStatusShelf {
    animation-name: STR_moveStatusShelf;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-delay: 1.8s;
}

.STR_Granted {
    background-color: #A80000;
}

#ACC_questionBar {
    position: absolute;
    border: calc(5vw/96) solid white;
    background-image: linear-gradient(to right bottom, #b31e0e, #a61a0b, #9a1508, #8d1105, #810c01);
    top: 8%;
    left: 15%;
    right: 15%;
    height: 7%;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    opacity: 0;
}

#ACC_Question {
    color: white;
    font-size: 1.40625vw;
    font-weight: bolder;
    word-wrap: break-word;
    text-align: center;
    padding: 2%;

}

#ACC_mediaBox {
    position: absolute;
    border: 0.15625vw solid white;
    background-image: linear-gradient(to right bottom, #3e4042, #353638, #2c2d2e, #242424, #1b1b1b);
    top: 18%;
    left: 15%;
    right: 15%;
    bottom: 5.5%;
    display: flex;
    align-items: center;
    opacity: 0;
}

.ACC_Media {
    position: absolute;
    width: 100%;
    height: auto;
}

#ACC_Line {
    position: absolute;
    top: 100%;
    height: 0.5%;
    left: -0.20%;
    width: 0%;
    background-color: transparent;
    opacity: 0;
    z-index: 4;
}

.ACC_moveCircle30 {
    animation-name: ACC_zoomCircle30, changeColor, moveCircle, fadeOut;
    animation-delay: 0s, 0s, 0s, 30s;
    animation-duration: 30s, 30s, 30s, 2s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

.ACC_moveLine30 {
    animation-name: changeColor, moveLine, fadeOut;
    animation-duration: 30s, 30s, 2s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-delay: 0s, 0s, 30s;
}

@keyframes ACC_zoomCircle30 {

    3.75%,
    6.25%,
    23.75%,
    26.25%,
    48.75%,
    51.25%,
    73.75%,
    76.25%,
    93.75%,
    96.25% {
        transform: scale(1);
        transform-origin: center;
    }

    5%,
    25%,
    50%,
    75%,
    95% {
        transform: scale(2);
        transform-origin: center;
    }
}

.ACC_moveLine10 {
    animation-name: changeColor, moveLine, fadeOut;
    animation-duration: 10s, 10s, 2s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-delay: 0s, 0s, 10s;
}

.ACC_moveCircle10 {
    animation-name: ACC_zoomCircle10, changeColor, moveCircle, fadeOut;
    animation-delay: 0s, 0s, 0s, 10s;
    animation-duration: 10s, 10s, 10s, 2s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

@keyframes ACC_zoomCircle10 {

    0%,
    7%,
    21.5%,
    28.5%,
    46.5%,
    53.5%,
    71.5%,
    78.5%,
    93%,
    100% {
        transform: scale(1);
        transform-origin: center;
    }

    3.5%,
    25%,
    50%,
    75%,
    96.5% {
        transform: scale(2);
        transform-origin: center;
    }
}

.ACC_moveCircle20 {
    animation-name: FIN_zoomCircle20, changeColor, moveCircle, fadeOut;
    animation-delay: 0s, 0s, 0s, 20s;
    animation-duration: 20s, 20s, 20s, 2s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

.ACC_moveLine20 {
    animation-name: changeColor, moveLine, fadeOut;
    animation-duration: 20s, 20s, 2s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-delay: 0s, 0s, 20s;
}

@keyframes FIN_zoomCircle20 {

    0%,
    3.5%,
    23.25%,
    26.75%,
    48.25%,
    51.75%,
    73.25%,
    76.75%,
    96.5%,
    100% {
        transform: scale(1);
        transform-origin: center;
    }

    1.75%,
    25%,
    50%,
    75%,
    98.25% {
        transform: scale(2);
        transform-origin: center;
    }
}

@keyframes ACC_zoomCircle40 {

    0%,
    1.75%,
    24.125%,
    25.875%,
    49.125%,
    50.875%,
    74.125%,
    75.875%,
    98.25%,
    100% {
        transform: scale(1);
        transform-origin: center;
    }

    0.875%,
    25%,
    50%,
    75%,
    99.125% {
        transform: scale(2);
        transform-origin: center;
    }
}

.ACC_moveCircle40 {
    animation-name: ACC_zoomCircle40, changeColor, moveCircle, fadeOut;
    animation-delay: 0s, 0s, 0s, 40s;
    animation-duration: 40s, 40s, 40s, 2s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

.ACC_moveLine40 {
    animation-name: changeColor, moveLine, fadeOut;
    animation-duration: 40s, 40s, 2s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-delay: 0s, 0s, 40s;
}

#ACC_mainLine {
    position: absolute;
    top: 0%;
    height: 0%;
    left: 38%;
    width: 2%;
    background-image: linear-gradient(to bottom, #b31e0e, #a61a0b, #9a1508, #8d1105, #810c01);
    box-sizing: border-box;
}

.ACC_Time {
    position: absolute;
    left: 0%;
    top: calc(275%/14);
    height: calc(10/14 * 100%);
    width: 26%;
    box-sizing: border-box;
    background-image: linear-gradient(to left, #b4b4b4, #c0c0c1, #cbcdcd, #d8dad9, #e5e6e4);
    border-radius: 250px 0px 0px 250px;
    display: flex;
    align-items: center;
    font-size: calc(175vw/48);
    font-weight: bold;
    border-right: none;
    z-index: -1;

}

.ACC_Name {
    position: absolute;
    top: 0%;
    height: calc(3*100%/7);
    left: 30%;
    width: 50%;
    background-image: linear-gradient(to right, #b4b4b4, #c0c0c1, #cbcdcd, #d8dad9, #e5e6e4);
    border-radius: 0px 150px 150px 0px;
    display: flex;
    align-items: center;
    justify-content: right;
    font-size: 1.5625vw;
    font-weight: bold;
    box-sizing: border-box;
}

.ACC_Answer {
    position: absolute;
    top: calc(3*100%/7);
    height: calc(4*100%/7);
    left: 30%;
    width: 70%;
    background-image: linear-gradient(to right bottom, #810101, #7a0101, #730102, #6c0101, #650101);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(175vw/96);
    font-weight: bolder;
    border-radius: 0px 150px 150px 0px;
    box-sizing: border-box;
    color: white;
}

.ACC_ithCircle {
    position: absolute;
    top: calc(275%/14);
    height: calc(10/14 * 100%);
    left: calc(28% - 11.25%/2);
    width: 11.25%;
    border-radius: 50%;
    background-color: #000080;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    font-size: calc(25vw/6);
    font-weight: bolder;
    transform: scale(1);
    border: none;
    opacity: 0;
}

.ACC_timeLabel {
    display: flex;
    justify-content: right;
    align-items: center;
    position: absolute;
    top: 0%;
    bottom: 0%;
    right: 10%;
}

.ACC_nameLabel {
    display: flex;
    position: absolute;
    top: 0%;
    left: 7%;
    bottom: 0%;
    right: 3%;
    justify-content: right;
    align-items: center;
}

.ACC_Player {
    position: absolute;
    left: 25%;
    right: 25%;
    height: 14%;
    box-sizing: border-box;
    opacity: 0;
}

:root {
    --top-value: 0%;
    --delay: 0s;
}

#ACC_Player1 {
    top: 10.5%;
    --top-value: 10.5%;
    --delay: 2s;

}

#ACC_Player2 {
    top: calc(0.5% + 95%/3);
    --top-value: calc(0.5% + 95%/3);
    --delay: 1.65s;
}

#ACC_Player3 {
    top: calc(0.5% + 160%/3);
    --top-value: calc(0.5% + 160%/3);
    --delay: 1.3s;
}

#ACC_Player4 {
    top: 75.5%;
    --top-value: 75.5%;
    --delay: 0.95s;

}

#ACC_Shelf {
    position: absolute;
    left: 0%;
    width: 100%;
    height: 5%;
    bottom: -5%;
    background-image: linear-gradient(to right bottom, #b4b4b4, #c0c0c1, #cbcdcd, #d8dad9, #e5e6e4);
    opacity: 0;
    z-index: -1;
}

.ACC_moveMainLine {
    animation-name: ACC_moveMainLine;
    animation-duration: 0.5s;
    animation-delay: 0s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.ACC_playerMove {
    animation-name: ACC_playerMove;
    animation-duration: 0.5s;
    animation-delay: var(--delay);
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.ACC_flipDownQuestion {
    animation-name: ACC_flipDown;
    animation-duration: 0.5s;
    animation-delay: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    transform-origin: bottom center;
}

.ACC_flipDownMedia {
    animation-name: ACC_flipDown;
    animation-duration: 0.5s;
    animation-delay: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    transform-origin: center bottom;
}

.ACC_moveShelf {
    animation-name: ACC_moveShelf;
    animation-duration: 0.5s;
    animation-delay: 0s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes ACC_moveMainLine {
    0% {
        height: 0%;
    }

    100% {
        height: 100%;
    }
}

@keyframes ACC_playerMove {
    0% {
        top: calc(var(--top-value) - 100%);
        opacity: 1;
    }

    100% {
        top: var(--top-value);
        opacity: 1;
    }
}

@keyframes ACC_flipDown {
    0% {
        transform: perspective(800px) rotateX(90deg);
        opacity: 1;
    }

    100% {
        transform: perspective(800px) rotateX(0deg);
        opacity: 1;
    }
}

@keyframes ACC_moveShelf {
    0% {
        bottom: -5%;
        opacity: 1;
    }

    100% {
        bottom: 20%;
        opacity: 1;
    }
}

/*VỀ ĐÍCH*/
#FIN_5sBackground {
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    z-index: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.7)), url("./Others/Background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100% 100%;
    opacity: 0;
}

#FIN_packAnimation {
    visibility: hidden;
}

#FIN_packShelf {
    position: absolute;
    top: 0%;
    height: 100%;
    right: 15.25%;
    width: 2.75%;
    background-image: linear-gradient(to bottom, #b4b4b4, #c0c0c1, #cbcdcd, #d8dad9, #e5e6e4);
    z-index: 1;
}

.FIN_Pack {
    position: absolute;
    width: 19%;
    right: 9.5%;
    height: 19%;
    z-index: 1;
    opacity: 1;
}

#FIN_Pack20 {
    top: 25%;
}

#FIN_Pack30 {
    top: 52.5%;
}

.FIN_packPoint {
    position: absolute;
    right: 0%;
    top: 0%;
    bottom: 0%;
    width: 74%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(125vw/24);
    background-image: linear-gradient(to right bottom, #810101, #7a0101, #730102, #6c0101, #650101);
    font-weight: bold;
    color: white;
}

.FIN_checkBox {
    position: absolute;
    top: 0%;
    left: 5%;
    bottom: 0%;
    width: 16%;
}

.FIN_1 {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    height: calc(64*100%/225);
    background-color: #2d2b2b;
    border: 0.15625vw solid #474243;
    box-sizing: border-box;
    opacity: 1;
}

.FIN_2 {
    position: absolute;
    left: 0%;
    right: 0%;
    top: calc(64*100%/225 + 11*100%/150);
    height: calc(64*100%/225);
    background-color: #2d2b2b;
    border: 0.15625vw solid #474243;
    box-sizing: border-box;
    opacity: 1;
}

.FIN_3 {
    position: absolute;
    left: 0%;
    right: 0%;
    top: calc(2*(64*100%/225 + 11*100%/150));
    height: calc(64*100%/225);
    background-color: #2d2b2b;
    border: 0.15625vw solid #474243;
    box-sizing: border-box;
    opacity: 1;
}

.FIN_Checked {
    position: absolute;
    top: 0%;
    right: 0%;
    left: 0%;
    bottom: 0%;
}

#FIN_Shelf {
    position: absolute;
    left: 0%;
    width: 100%;
    bottom: 13.75%;
    height: 5%;
    background-image: linear-gradient(to right bottom, #b4b4b4, #c0c0c1, #cbcdcd, #d8dad9, #e5e6e4);
    opacity: 0;
}

#FIN_MainUI {
    position: absolute;
    left: 7.5%;
    right: 7.5%;
    bottom: 5%;
    height: 30%;
}

#FIN_questionBox {
    position: absolute;
    left: 0%;
    width: 80%;
    height: 75%;
    bottom: 0%;
    box-sizing: border-box;
    background-image: linear-gradient(to right bottom, #3e4042, #353638, #2c2d2e, #242424, #1b1b1b);
    border: 0.15625vw solid white;
    opacity: 0;
}

#FIN_Question {
    position: absolute;
    top: 0%;
    right: 0%;
    left: 0%;
    bottom: 0%;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    text-align: justify;
    font-size: calc(45vw/32);
    color: white;
    overflow-y: auto;
    padding-right: 1%;
    box-sizing: border-box;
}

.FIN_Star {
    position: absolute;
    bottom: 20%;
    height: 150%;
    left: -16%;
    width: 30%;
    display: flex;
    justify-content: left;
    align-items: end;
}

#FIN_pointBar {
    position: absolute;
    left: 0%;
    right: 20%;
    top: 0%;
    height: 25%;
    box-sizing: border-box;
    opacity: 1;
}

.FIN_Point {
    position: absolute;
    top: 25%;
    width: 24%;
    bottom: 0%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: calc(125vw/96);
    background-color: #313131;
    border: 0.15625vw solid white;
    border-bottom: none;
    color: white;
    opacity: 0;
}

#FIN_Point1 {
    left: 1%;
}

#FIN_Point2 {
    left: calc(77%/3);
}

#FIN_Point3 {
    left: calc(151%/3);
}

#FIN_Point4 {
    left: 75%;
}

#FIN_questionStatus {
    position: absolute;
    right: 0%;
    top: 10%;
    bottom: 70%;
    width: 15%;
    box-sizing: border-box;
    background-image: linear-gradient(to right bottom, #810101, #7a0101, #730102, #6c0101, #650101);
    opacity: 0;
    border: 0.15625vw solid white;
}

#FIN_currentPoint {
    position: absolute;
    top: 30%;
    bottom: 5%;
    right: 0%;
    width: 15%;
    background-image: linear-gradient(to right bottom, #810101, #7a0101, #730102, #6c0101, #650101);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bolder;
    font-size: calc(125vw/24);
    opacity: 0;
    border: 0.15625vw solid white;
    border-top: none;
}

.FIN_questionList {
    position: absolute;
    top: 0%;
    bottom: 0%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(175vw/96);
    font-weight: bolder;
    color: white;
}

#FIN_1 {
    left: 0%;
    right: calc(200%/3);
    border-right: calc(5vw/32) solid white;
}

#FIN_2 {
    left: calc(100%/3);
    right: calc(100%/3);
    border-right: calc(5vw/32) solid white;
}

#FIN_3 {
    left: calc(200%/3);
    right: 0%;
}

.FIN_moveLine15 {
    animation-name: changeColor, moveLine, fadeOut;
    animation-duration: 15s, 15s, 2s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-delay: 0s, 0s, 15s;
}

.FIN_moveCircle15 {
    animation-name: FIN_zoomCircle15, changeColor, moveCircle, fadeOut;
    animation-delay: 0s, 0s, 0s, 15s;
    animation-duration: 15s, 15s, 15s, 2s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

.FIN_moveLine20 {
    animation-name: changeColor, moveLine, fadeOut;
    animation-duration: 20s, 20s, 2s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-delay: 0s, 0s, 20s;
}

.FIN_moveCircle20 {
    animation-name: FIN_zoomCircle20, changeColor, moveCircle, fadeOut;
    animation-delay: 0s, 0s, 0s, 20s;
    animation-duration: 20s, 20s, 20s, 2s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

.FIN_differentPoint {
    color: black;
    font-size: 1.5625vw;
    top: 0%;
    background-color: #f1a621;
    opacity: 1;
}

@keyframes FIN_zoomCircle15 {

    0%,
    4.66%,
    22.67%,
    27.33%,
    47.67%,
    52.33%,
    72.67%,
    77.33%,
    95.34%,
    100% {
        transform: scale(1);
        transform-origin: center;
    }

    2.33%,
    25%,
    50%,
    75%,
    97.67% {
        transform: scale(2);
        transform-origin: center;
    }
}

@keyframes FIN_zoomCircle20 {

    0%,
    3.5%,
    23.25%,
    26.75%,
    48.25%,
    51.75%,
    73.25%,
    76.75%,
    96.5%,
    100% {
        transform: scale(1);
        transform-origin: center;
    }

    1.75%,
    25%,
    50%,
    75%,
    98.25% {
        transform: scale(2);
        transform-origin: center;
    }
}

.FIN_Granted {
    background-color: #e66f1e;
}

.FIN_chosenQuestion {
    background-image: linear-gradient(to right bottom, #e66f1e, #e86d1a, #eb6b15, #ed6810, #f06609);
}

/*VĐ animation*/
.FIN_moveShelf {
    animation-name: FIN_moveShelf;
    animation-timing-function: linear;
    animation-duration: 0.5s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}

@keyframes FIN_moveShelf {
    0% {
        right: -2.75%;
        opacity: 1;
    }

    100% {
        right: 15.25%;
        opacity: 1;
    }
}

@keyframes FIN_hideShelf {
    0% {
        right: -2.75%;
        opacity: 1;
    }

    100% {
        right: 15.25%;
        opacity: 1;
    }
}

.FIN_movePack20 {
    opacity: 0;
    animation-name: FIN_movePack20;
    animation-duration: 0.5s;
    animation-delay: 0.65s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.FIN_movePack30 {
    opacity: 0;
    animation-name: FIN_movePack30;
    animation-duration: 0.5s;
    animation-delay: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.FIN_showPick201 {
    opacity: 0;
    animation-name: FIN_showPick1;
    animation-duration: 0.5s;
    animation-delay: 1.15s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.FIN_showPick202 {
    opacity: 0;
    animation-name: FIN_showPick2;
    animation-duration: 0.5s;
    animation-delay: 1.15s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.FIN_showPick203 {
    opacity: 0;
    animation-name: FIN_showPick3;
    animation-duration: 0.5s;
    animation-delay: 1.15s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.FIN_showPick301 {
    opacity: 0;
    animation-name: FIN_showPick1;
    animation-duration: 0.5s;
    animation-delay: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.FIN_showPick302 {
    opacity: 0;
    animation-name: FIN_showPick2;
    animation-duration: 0.5s;
    animation-delay: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.FIN_showPick303 {
    opacity: 0;
    animation-name: FIN_showPick3;
    animation-duration: 0.5s;
    animation-delay: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.FIN_pickedQuestion {
    background-image: linear-gradient(to right bottom, #810101, #7a0101, #730102, #6c0101, #650101);
}

@keyframes FIN_movePack20 {
    0% {
        top: calc(25% - 100%);
        opacity: 1;
    }

    100% {
        top: 25%;
        opacity: 1;
    }
}

@keyframes FIN_movePack30 {
    0% {
        top: calc(52.5% - 100%);
        opacity: 1;
    }

    100% {
        top: 52.5%;
        opacity: 1;
    }
}

@keyframes FIN_showPick1 {
    0% {
        top: 0%;
        right: 0%;
        left: 100%;
        height: 0%;
        opacity: 1;
    }

    100% {
        top: 0%;
        right: 0%;
        left: 0%;
        height: calc(64*100%/225);
        opacity: 1;
    }
}

@keyframes FIN_hidePick1 {
    0% {
        top: 0%;
        right: 0%;
        left: 100%;
        height: 0%;
        opacity: 1;
    }

    100% {
        top: 0%;
        right: 0%;
        left: 0%;
        height: calc(64*100%/225);
        opacity: 1;
    }
}

@keyframes FIN_showPick2 {
    0% {
        top: calc(64*100%/225 + 11*100%/150);
        right: 0%;
        left: 100%;
        height: 0%;
        opacity: 1;
    }

    100% {
        top: calc(64*100%/225 + 11*100%/150);
        right: 0%;
        left: 0%;
        height: calc(64*100%/225);
        opacity: 1;
    }
}

@keyframes FIN_hidePick2 {
    0% {
        top: calc(64*100%/225 + 11*100%/150);
        right: 0%;
        left: 100%;
        height: 0%;
        opacity: 1;
    }

    100% {
        top: calc(64*100%/225 + 11*100%/150);
        right: 0%;
        left: 0%;
        height: calc(64*100%/225);
        opacity: 1;
    }
}

@keyframes FIN_showPick3 {
    0% {
        top: calc(2*(64*100%/225 + 11*100%/150));
        right: 0%;
        left: 100%;
        height: 0%;
        opacity: 1;
    }

    100% {
        top: calc(2*(64*100%/225 + 11*100%/150));
        right: 0%;
        left: 0%;
        height: calc(64*100%/225);
        opacity: 1;
    }
}

@keyframes FIN_hidePick3 {
    0% {
        top: calc(2*(64*100%/225 + 11*100%/150));
        right: 0%;
        left: 100%;
        height: 0%;
        opacity: 1;
    }

    100% {
        top: calc(2*(64*100%/225 + 11*100%/150));
        right: 0%;
        left: 0%;
        height: calc(64*100%/225);
        opacity: 1;
    }
}

.FIN_hidePick201 {
    opacity: 1;
    animation-name: FIN_hidePick1;
    animation-duration: 0.5s;
    animation-delay: 1.15s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-direction: reverse;
}

.FIN_hidePick202 {
    opacity: 1;
    animation-name: FIN_hidePick2;
    animation-duration: 0.5s;
    animation-delay: 1.15s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-direction: reverse;
}

.FIN_hidePick203 {
    opacity: 1;
    animation-name: FIN_hidePick3;
    animation-duration: 0.5s;
    animation-delay: 1.15s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-direction: reverse;
}

.FIN_hidePick301 {
    opacity: 1;
    animation-name: FIN_hidePick1;
    animation-duration: 0.5s;
    animation-delay: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-direction: reverse;
}

.FIN_hidePick302 {
    opacity: 1;
    animation-name: FIN_hidePick2;
    animation-duration: 0.5s;
    animation-delay: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-direction: reverse;
}

.FIN_hidePick303 {
    opacity: 1;
    animation-name: FIN_hidePick3;
    animation-duration: 0.5s;
    animation-delay: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-direction: reverse;
}

.FIN_hidePack20 {
    opacity: 1;
    animation-name: FIN_hidePack20;
    animation-duration: 0.5s;
    animation-delay: 1.65s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.FIN_hidePack30 {
    opacity: 1;
    animation-name: FIN_hidePack30;
    animation-duration: 0.5s;
    animation-delay: 1.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes FIN_hidePack20 {
    0% {
        top: 36%;
        opacity: 1;
    }

    100% {
        top: 136%;
        opacity: 1;
    }
}

@keyframes FIN_hidePack30 {
    0% {
        top: 63.5%;
        opacity: 1;
    }

    100% {
        top: 163.5%;
        opacity: 1;
    }
}

.FIN_hideShelf {
    animation-name: FIN_hideShelf;
    animation-timing-function: linear;
    animation-duration: 0.5s;
    animation-delay: 2.2s;
    animation-fill-mode: forwards;
    animation-direction: reverse;
}

.FIN_moveQuestionShelf {
    animation-name: FIN_moveQuestionShelf;
    animation-timing-function: linear;
    animation-duration: 0.5s;
    animation-delay: 2.8s;
    animation-fill-mode: forwards;
}

@keyframes FIN_moveQuestionShelf {
    0% {
        bottom: -5%;
        opacity: 1;
    }

    100% {
        bottom: 13.75%;
        opacity: 1;
    }
}

@keyframes FIN_questionBoxMove {
    0% {
        opacity: 1;
        left: -80%;
    }

    100% {
        opacity: 1;
        left: 0%;
    }
}

@keyframes FIN_showPointBar {
    0% {
        opacity: 1;
        top: 100%;
    }

    100% {
        opacity: 1;
        top: 25%;
    }
}

@keyframes FIN_movePointAndStatus {
    0% {
        opacity: 1;
        right: -30%
    }

    100% {
        opacity: 1;
        right: 0%;
    }
}

.FIN_questionBoxMove {
    animation-name: FIN_questionBoxMove;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-delay: 3.3s;
}

.FIN_movePointAndStatus {
    animation-name: FIN_movePointAndStatus;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-delay: 3.3s;
}

.FIN_showPointBar1 {
    animation-name: FIN_showPointBar;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-delay: 3.8s;
}

.FIN_showPointBar2 {
    animation-name: FIN_showPointBar;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-delay: 3.9s;
}

.FIN_showPointBar3 {
    animation-name: FIN_showPointBar;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-delay: 4s;
}

.FIN_showPointBar4 {
    animation-name: FIN_showPointBar;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-delay: 4.1s;
}

@keyframes FIN_changeBackground {
    0% {
        opacity: 0;
        visibility: visible;
    }

    25% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.FIN_changeBackground {
    animation-name: FIN_changeBackground;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-duration: 7s;
}

@keyframes FIN_differentPoint {
    0% {
        top: 25%;
        background-color: #313131;
        opacity: 1;
    }

    100% {
        top: 0%;
        background-color: #A80000;
        opacity: 1;
    }
}

.FIN_differentPoint {
    animation-name: FIN_differentPoint;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    font-size: 1.5625vw;
    opacity: 1;
    color: white;
}

/*CÂU HỎI PHỤ*/
#SFI_Shelf {
    position: absolute;
    left: 0%;
    width: 100%;
    bottom: 13.75%;
    height: 5%;
    background-image: linear-gradient(to right bottom, #b4b4b4, #c0c0c1, #cbcdcd, #d8dad9, #e5e6e4);
    opacity: 1;
    visibility: hidden;
}

#SFI_MainUI {
    position: absolute;
    left: 12.5%;
    width: 75%;
    bottom: 5%;
    height: 29%;
    visibility: hidden;
}

#SFI_roundName {
    position: absolute;
    left: 0%;
    top: 0%;
    height: 22.5%;
    width: 19%;
    background-color: #A80000;
    box-sizing: border-box;
    font-size: 1.25vw;
    font-weight: bolder;
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 0 150px 150px 0;
}

#SFI_playersTab {
    position: absolute;
    right: 3%;
    bottom: 77.5%;
    top: 0%;
    width: 75%;
    display: flex;
    justify-content: center;
}

.SFI_Player {
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0%;
    height: 100%;
    font-size: 1.25vw;
    font-weight: bold;
    margin: 0 0.5%;
    width: 24.25%;
    box-sizing: border-box;
    background-color: #313131;
    color: white;
    border: 0.15625vw solid white;
    border-bottom: none;
}

#SFI_questionBox {
    position: absolute;
    left: 0%;
    right: 0%;
    bottom: 0%;
    height: 77.5%;
    box-sizing: border-box;
    background-image: linear-gradient(to right bottom, #3e4042, #353638, #2c2d2e, #242424, #1b1b1b);
    border: 0.15625vw solid white;
    opacity: 1;
}

#SFI_Question {
    position: absolute;
    top: 0%;
    right: 0%;
    left: 0%;
    bottom: 0%;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    text-align: justify;
    font-size: calc(45vw/32);
    color: white;
    overflow-y: auto;
    padding-right: 1%;
    box-sizing: border-box;
}